openapi: 3.0.0
servers:
  - url: 'https://api.ibanfox.com/v1'
info:
  description: A simple API to validate an IBAN
  version: 1.0.0
  title: IBAN Validator
  contact:
    email: hello@ibanfox.com
    name: IBANfox Support
    url: 'https://ibanfox.com/contact'
  license:
    name: Apache 2.0
    url: 'https://www.apache.org/licenses/LICENSE-2.0.html'
  termsOfService: 'https://ibanfox.com/terms'
tags:
  - name: iban
paths:
  /ibans:
    get:
      summary: Validates an IBAN
      operationId: validateIBAN
      description: 'Given a candidate IBAN, returns the results of a validation, along with a suite of validation checks.'
      parameters:
        - in: query
          name: iban
          description: The IBAN to validate
          required: true
          schema:
            type: string
      tags:
        - iban
      responses:
        '200':
          description: IBAN passed validation
          content:
            application/json:
              schema:
                type: object
                description: The requested IBAN
                properties:
                  iban:
                    type: string
                  valid:
                    type: boolean
                  status:
                    $ref: '#/components/schemas/Status'
                  valid_more:
                    $ref: '#/components/schemas/Validations'
                required:
                  - iban
                  - valid
                  - status
            application/xml:
              schema:
                type: string
                description: The requested IBAN
        '422':
          description: IBAN failed validation
          content:
            application/json:
              schema:
                type: object
                properties:
                  iban:
                    type: string
                  valid:
                    type: boolean
                  status:
                    $ref: '#/components/schemas/Status'
                  valid_more:
                    $ref: '#/components/schemas/Validations'
    parameters: []
components:
  schemas:
    Validations:
      title: Validation suite
      type: object
      x-examples: {}
      x-tags:
        - iban
      description: ''
      properties:
        country_valid:
          type: boolean
          description: Is a valid two-letter country code provided?
        bban_length_valid:
          type: boolean
          description: Is the BBAN implicit in the IBAN of a valid length for the country?
        iban_length_valid:
          type: boolean
          description: Is the IBAN length valid for the country?
        bban_format_valid:
          type: boolean
          description: Is the BBAN implicit in the IBAN of a valid format for the country?
        iban_format_valid:
          type: boolean
          description: Is the IBAN format valid?
        checksum_valid:
          type: boolean
          description: Is the IBAN checksum valid?
        national_checksum_valid:
          type: boolean
          description: Is the national checksum valid for the country?
        iban_suggest:
          type: string
          description: 'In case of a failed validation, this field attempts to provide a workable correction. Do not take this suggestion too seriously, and certainly DO NOT RELY ON IT for transferring funds.'
    Status:
      title: Status
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        more_info:
          type: string
      x-tags:
        - iban
  securitySchemes:
    key:
      name: Key
      type: apiKey
      in: query
externalDocs:
  description: IBANfox Documentation
  url: 'https://ibanfox.com/docs'
security:
  - API Key - 1: []
